.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

node_modules/
vendor/
dist/
tmp/
temp/
tests/test-results/

*.log
error_log
*.bak
*.backup
*~

sandbox.config
sandbox.config.*
.wp-env.json
.wp-env-port
