includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	- phpstan-baseline.neon

parameters:
	level: 5
	paths:
		- src/Application
		- src/Bootstrap
		- src/Domain
		- src/Infrastructure
	treatPhpDocTypesAsCertain: false
	tmpDir: tmp/phpstan
