<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	failOnRisky="true"
	cacheResult="false">
	<php>
		<env name="WP_MULTISITE" value="1" force="true"/>
	</php>
	<testsuites>
		<testsuite name="plugin multisite contracts">
			<directory suffix="Test.php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
