@charset "utf-8";
/* CSS Document */



.zmshbt.default{
	
}
.zmshbt.default.left, .zmshbt.default.right{
	top: 30%;
	z-index:9999;
	position: fixed;
	
	-moz-transition: all .25s linear .5s;
	-webkit-transition: all .25s linear .5s;
	transition: all .25s linear .5s;
	
}

.zmshbt.default.left {
	left: -25px;
}
.zmshbt.default.left:hover {
	left: 0;
}
.zmshbt.default.right {
	right: -25px;
}
.zmshbt.default.right:hover {
	right: 0;
}

.zmshbt.default.in_widget a, .zmshbt.default.in_shortcode a{
	display:inline-block;
	margin: 5px;
}
.zmshbt.default a {
	width: 32px;
	height: 32px;
	display: block;
	background-size:cover;
	margin: 10px;
	
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
}

.zmshbt.default a:hover, .zmshbt.default a:active{
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5)
}
.zmshbt.default .zmshbt-profile-separator{display:inline-block;width:1px;height:28px;margin:11px 14px;vertical-align:top;background:#c3c4c7}
.zmshbt.default.left .zmshbt-profile-separator,.zmshbt.default.right .zmshbt-profile-separator{display:block;width:28px;height:1px;margin:14px 11px}
@media (max-width:600px){.zmshbt.left,.zmshbt.right{position:static!important;display:flex;flex-wrap:wrap;justify-content:center}.zmshbt.left a,.zmshbt.right a{margin:5px!important}}
@media (max-width:600px){.zmshbt.default.left .zmshbt-profile-separator,.zmshbt.default.right .zmshbt-profile-separator{display:inline-block;width:1px;height:28px;margin:9px 12px}}
